<?xml version="1.0"?>
<config>
    <tabs>
        <hackathon translate="label" module="hackathon_copystoredata">
            <label>Hackathon</label>
            <sort_order>600</sort_order>
        </hackathon>
    </tabs>
    <sections>
        <copystoredata translate="label" module="hackathon_copystoredata">
            <label>Copy Store Data</label>
            <tab>hackathon</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <copy_from_store translate="label">
                            <label>Copy From Store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copy_from_store>
                        <fields translate="label">
                            <label>Attributes To Copy</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>hackathon_copystoredata/system_config_source_attributes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fields>
                    </fields>
                </settings>
            </groups>
        </copystoredata>
    </sections>
</config>
